@import "../variables";

.testimonialCard{
    border: 1px solid hsl(0,0,90%);
    border-radius: 5px;

    &__image{
        object-fit: cover;
        width: 100%;
        height: 30vh;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }

    &__copy{
        margin: 0;
        padding: 1rem 1rem 0.5rem 1rem;
        line-height: 1.5rem;
    }
}